---
import Layout from "../layouts/Layout.astro"
import { Navbar } from "../components/Navbar.tsx"
import  { ContactComp } from "../components/ContactComp.tsx"




---

<Layout title="Icy Studio" >

    <div class=" h-svh w-svh" data-cursor="pointer">
            <!-- Navbar -->
            <Navbar client:load />

            <ContactComp client:load />

    </div>

</Layout>

<style>

html {
		font-family: system-ui, sans-serif;
		background: #f0f0f0;
	}


</style>
