---

---

<div class=" bg-yellow-400 h-[200px] w-full ">
    <div class="flex text-xl items-center justify-between px-24 py-14">
        <h1 class="text-2xl sm:text-8xl mb-10 font-stretchPro text-black ">
            TESSTI <br>
            MONIALS
        </h1>
        <div>
            <div class="flex flex-col text-black">
                <div class="flex text-2xl sm:text-8xl gap-6">
                    <h1 class="outlined-text font-glancyrRegular" > AKA </h1>
                    <h1 class="text-black font-glancyrThin"> 10K+</h1>
                </div>
                <h1 class="outlined-text text-2xl sm:text-8xl font-glancyrRegular" > REVIEWS </h1>
                <h1 class="text-right text-black font-glancyrThin text-xs sm:text-xl" > IN TRUST, WE BELIEVE </h1>
            </div>
        </div>
    </div>

</div>