---
---

<div class="w-full bg-transparent px-5 sm:px-20 pb-32 pt-14">
  <a
    href="#"
    class="font-glancyrThin text-xl  text-white underline underline-offset-4 decoration-white transition-colors hover:text-[#EE4140] hover:decoration-[#EE4140]"
  >
    Privacy Policy
  </a>
</div>
