---
import work10 from "../images/work10.svg";
import Work11SVG from "./Work11SVG.astro";
---
<section class="w-full bg-white rounded-t-[clamp(42px,5vw,90px)] px-[clamp(8px,2vw,32px)] pt-[clamp(48px,7vw,120px)] pb-[clamp(40px,5vw,90px)] overflow-visible">
  <div class="mx-auto flex justify-center">
    <div class="relative w-full max-w-[clamp(360px,88vw,1500px)]  ">

      <div
        aria-hidden="true"
        class="absolute top-[clamp(-40px,-4vw,-16px)] right-[calc(100%-20px)] z-10 w-[clamp(48px,7vw,150px)] pointer-events-none select-none"
      >
        <Work11SVG maskId="work11-mask-tl" />
      </div>

      <div class="relative w-full bg-[#B3E823] shadow-gray-400 shadow-lg rounded-[clamp(28px,6vw,110px)] border-[3px] border-solid border-black px-[clamp(20px,3vw,56px)] pt-[clamp(24px,3vw,56px)] pb-[clamp(24px,3vw,56px)] overflow-visible">
        
        <h2 class="relative z-20 m-0 font-stretchPro text-[clamp(28px,7vw,120px)] uppercase leading-[0.88] text-[#070707]">
          Creative<br />Designn
        </h2>

        <img
          src={work10.src}
          alt="Creative design pencil graphic"
          class="absolute right-[clamp(2px,2vw,45px)] top-[clamp(12px,1vw,40px)] w-[clamp(90px,28vw,480px)] h-auto max-w-none z-20"
        />

        <div class="pointer-events-none mt-[clamp(24px,5vw,80px)]">
          <div
            class="relative w-full h-[clamp(130px,31vw,540px)]"
            style="perspective: 1200px;"
          >
            <div
              class="absolute left-[4%] bottom-[5%] w-[clamp(90px,20vw,300px)] h-[clamp(100px,24vw,380px)] rounded-[clamp(10px,1.2vw,18px)] bg-[#cfcfcf] border border-black/10"
              style="transform: rotateY(25deg);"
            ></div>

            <div
              class="absolute left-[17%] bottom-[4%] w-[clamp(90px,20vw,300px)] h-[clamp(100px,24vw,380px)] rounded-[clamp(10px,1.2vw,18px)] bg-[#111906]"
              style="transform: rotateY(20deg);"
            ></div>

            <div
              class="absolute right-[4%] bottom-[5%] w-[clamp(90px,20vw,300px)] h-[clamp(100px,24vw,380px)] rounded-[clamp(10px,1.2vw,18px)] bg-[#cfcfcf] border border-black/10"
              style="transform: rotateY(-25deg);"
            ></div>

            <div
              class="absolute right-[17%] bottom-[4%] w-[clamp(90px,20vw,300px)] h-[clamp(100px,24vw,380px)] rounded-[clamp(10px,1.2vw,18px)] bg-[#111906]"
              style="transform: rotateY(-20deg);"
            ></div>

            <div
              class="absolute left-1/2 -translate-x-1/2 bottom-0 z-20 w-[clamp(120px,30vw,460px)] h-[clamp(130px,31vw,540px)] rounded-[clamp(12px,1.5vw,20px)] bg-[#cfcfcf] border border-black/10"
            ></div>
          </div>
        </div>
      </div>

      <div
        aria-hidden="true"
        class="absolute bottom-[clamp(-40px,-4vw,-16px)] left-[calc(100%-20px)] z-10 w-[clamp(48px,7vw,150px)] pointer-events-none select-none scale-x-[-1]"
      >
        <Work11SVG maskId="work11-mask-br" />
      </div>

    </div>
  </div>
</section>
