---
import work8 from "../images/work8.svg";
import work9 from "../images/work9.svg";
---

<section class="w-full bg-transparent px-6 py-16 md:px-0 md:py-24 text-white overflow-hidden mt-5">
  <div class="flex w-full flex-col gap-[clamp(80px,8vw,140px)]">

    <!-- Top Section -->
    <div class="grid w-full grid-cols-1 md:grid-cols-2 items-stretch min-h-[clamp(420px,42vw,720px)]">
      <div class="flex h-full items-center justify-center">
        <img
          src={work8.src}
          alt=""
          class="w-full h-full object-contain"
        />
      </div>

      <div class="flex h-full flex-col items-center justify-center text-right font-glancyrThin text-[clamp(20px,2vw,50px)] leading-[1.05] px-[clamp(24px,4vw,80px)]">
        <p>
          <span class="text-[#b3e823]">Lorem Ipsum</span> is simply <span class="text-[#b3e823]">dummy text</span> of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, <span class="text-[#ee4140]">when an unknown printer took a galley</span> of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
        </p>

        <button class="btn self-center border-none h-[clamp(44px,3.5vw,70px)] w-[clamp(200px,17vw,330px)] overflow-hidden text-[clamp(16px,1.25vw,24px)] mt-[clamp(10px,1.2vw,20px)]">
          <div class="btn__bg">
            <span class="btn__bg__layer btn__bg__layer-first"></span>
            <span class="btn__bg__layer btn__bg__layer-second"></span>
            <span class="btn__bg__layer btn__bg__layer-third"></span>
          </div>
          <span class="btn__text-out text-white font-glancyrRegular box-shadow2 uppercase mt-1 tracking-wide">Get Started</span>
          <span class="btn__text-in text-white font-glancyrRegular box-shadow2 uppercase mt-1 tracking-wide">Get Started</span>
        </button>
      </div>
    </div>

    <!-- Bottom Section -->
    <div class="grid w-full grid-cols-1 md:grid-cols-2 items-stretch min-h-[clamp(420px,42vw,720px)]">
      <div class="flex h-full flex-col items-center justify-center text-left font-glancyrThin text-[clamp(20px,2vw,50px)] leading-[1.05] px-[clamp(24px,4vw,80px)]">
        <p>
          <span class="text-[#b3e823]">Lorem Ipsum</span> is simply <span class="text-[#b3e823]">dummy text</span> of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, <span class="text-[#ee4140]">when an unknown printer took a galley</span> of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
        </p>

        <button class="btn self-center border-none h-[clamp(44px,3.5vw,70px)] w-[clamp(200px,17vw,330px)] overflow-hidden text-[clamp(16px,1.25vw,24px)] mt-[clamp(10px,1.2vw,20px)] mb-3">
          <div class="btn__bg">
            <span class="btn__bg__layer btn__bg__layer-first"></span>
            <span class="btn__bg__layer btn__bg__layer-second"></span>
            <span class="btn__bg__layer btn__bg__layer-third"></span>
          </div>
          <span class="btn__text-out text-white font-glancyrRegular box-shadow2 uppercase mt-1 tracking-wide">Get Started</span>
          <span class="btn__text-in text-white font-glancyrRegular box-shadow2 uppercase mt-1 tracking-wide">Get Started</span>
        </button>
      </div>

      <div class="flex h-full items-center justify-center">
        <img
          src={work9.src}
          alt=""
          class="w-full h-full object-contain"
        />
      </div>
    </div>

  </div>
</section>