<section class="px-[clamp(24px,5vw,96px)] py-[clamp(40px,5vw,80px)]">
  <div class="flex w-full flex-col gap-[clamp(24px,4vw,64px)] md:flex-row sm:items-center justify-between overflow-visible">
    
    <h2 class="font-stretchPro text-[clamp(40px,9vw,180px)] uppercase leading-[1.1] bg-clip-text text-transparent gradient-work">
      OOUR <br>
      WOORK
    </h2>

    <div class="btn shrink-0 border-none w-full sm:w-[clamp(280px,32vw,620px)] h-[clamp(110px,12vw,200px)] overflow-hidden cursor-default rounded-[clamp(32px,3vw,56px)]">
      <div class="btn__bg rounded-[clamp(32px,3vw,56px)]">
        <span class="btn__bg__layer btn__bg__layer-first"></span>
        <span class="btn__bg__layer btn__bg__layer-second"></span>
        <span class="btn__bg__layer btn__bg__layer-third"></span>
      </div>

      <div class="btn__text-out w-full px-[clamp(16px,3vw,48px)] text-center font-glancyrThin text-[clamp(14px,1.5vw,30px)] leading-[1.25] text-white">
        <p>
          <span class="text-[#b3e823]">Lorem Ipsum</span> is simply <span class="text-[#b3e823]">dummy text</span> of the 
          printing and typesetting industry. Lorem 
          Ipsum has been the industry's
        </p>
      </div>

      <div class="btn__text-in w-full px-[clamp(16px,3vw,48px)] text-center font-glancyrThin text-[clamp(14px,1.5vw,30px)] leading-[1.25] text-white">
        <p>
          <span class="text-white">Lorem Ipsum</span> is simply <span class="text-white">dummy text</span> of the 
          printing and typesetting industry. Lorem 
          Ipsum has been the industry's
        </p>
      </div>
    </div>

  </div>
</section>